/* =========================
        Google font 
===========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* =========================
        Common Css
===========================*/

body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1050px;
}

/* =========================
        Banner Style
===========================*/
.banner {
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    padding: 86px 0;
}

.inner-banner {
    width: 1143px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.inner-banner .banner-text {
    padding-right: 102px;

}

.inner-banner .banner-text h2 {
    font-size: 64px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.inner-banner .banner-text a {
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.inner-banner .banner-text a .fa-arrow-right {
    padding-left: 10px;
    transition: padding .3s ease;
}

.inner-banner .banner-text a:hover .fa-arrow-right {
    padding-left: 30px;
}

.inner-banner .banner-image img {
    width: 100%;
    transition: transform .3s ease;
}

.banner:hover .inner-banner .banner-image img {
    transform: scale(1.2) rotate(15deg);
}


/* =========================
        Players Style
===========================*/

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
}

.player {
    padding: 15px;
    padding-bottom: 33px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player .player-image img {
    width: 100%;
}

.player-details h3 {
    margin-top: 13px;
    margin-bottom: 10px;
    color: #18191F;
    font-size: 28px;
}

.player-details p {
    margin: 0px;
    color: #6C6C6C;
    font-size: 16px;
}